@charset 'utf-8';

//change box-model about everything
html *,
::before,
::after {
  box-sizing: border-box;
}

//Set Map
$breakpoint: (
  sm: 'screen and (min-width: 576px)',
  md: 'screen and (min-width: 768px)',
  lg: 'screen and (min-width: 992px)',
  xl: 'screen and (min-width: 1200px)',
  xxl: 'screen and (min-width: 1400px)',
); //mapの')'の後ろにセミコロン

//Set mixin
@mixin mq($bp) {
  @media #{map-get($breakpoint,$bp)} {
    @content; //@contentの後ろにセミコロン
  }
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  @include mq(md) {
    font-size: 16px;
  }
}

//Google fonts(Noto Sans JP)
// @import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400; //Noto Sans JPのレギュラーウェイトを指定
}

//デフォルトCSSリセット
ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 th,
strong {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

//コンテナ幅を中央に配置
@mixin mainContainer($mw: 1040px, $margin: 0 auto, $padding: 80px 20px 0) {
  max-width: $mw;
  margin: $margin;
  padding: $padding;
  @content;
}

@mixin centered($mw: 1040px, $p-tb: 0, $p-lr: 20px, $m-b: 0) {
  max-width: $mw;
  padding: $p-tb $p-lr;
  margin: 0 auto $m-b;
  @content;
}

@mixin mainContainer_background() {
  padding: 80px 4% 0;
  background-image: url('../images/post-bg.svg');
  background-repeat: repeat-x;
  background-position: 0 10px;
  @include mq(md) {
    @include mainContainer();
  }
  @content;
}
