//change box-model about everything
html *,
::before,
::after {
  box-sizing: border-box;
}

//Set Map
$breakpoint: (
  sm: 'screen and (min-width: 576px)',
  md: 'screen and (min-width: 768px)',
  lg: 'screen and (min-width: 992px)',
  xl: 'screen and (min-width: 1200px)',
  xxl: 'screen and (min-width: 1400px)',
); //mapの')'の後ろにセミコロン

//Set mixin
@mixin mq($bp) {
  @media #{map-get($breakpoint,$bp)} {
    @content; //@contentの後ろにセミコロン
  }
}

//コンテナ幅を中央に配置
@mixin mainContainer($mw: 1024px, $margin: 0 auto, $padding: 80px 20px 0) {
  max-width: $mw;
  margin: $margin;
  padding: $padding;
  @content;
}
