-

    //- パンくずリスト
  var arr_bread = [
    {
      title: 'Home',
      url: '/',
    },
    {
      title: 'アメリカ西海岸レポート',
      url: '/report',
    },
    {
      title: '知らない街の「地元」の空気に触れたい!ファーマーズマーケットには情報がいっぱい',
      url: '/info/report',
    },
  ];

  var arr_banner =[
    {
      url: '/banner-1',
      image: '../images/banner-1.png'
    },
    {
      url: '/banner-2',
      image: '../images/banner-2.png'
    },
  ];

  //配列の中身をHTMLとして出力する = 呼び出すときに !{elm.awesome}のように記述する
  var arr_sns = [
    {
      url: '/twitter',
      awesome: '<i class="fab fa-twitter"></i>'
    },
    {
      url: '/facebook',
      awesome: '<i class="fab fa-facebook-f"></i>'
    },
    {
      url: '/instagram',
      awesome: '<i class="fab fa-instagram"></i>'
    },
  ];

  //- フッターナビゲーション
  var arr_footer_t = [
    {
      url: '/' ,
      title: 'Home'
    },
    {
      url: '/news' ,
      title: '最新の特集'
    },
    {
      url: '/local' ,
      title: '地域別に読む'
    },
    {
      url: '/serialization' ,
      title: '連載一覧'
    },
    {
      url: '/interview' ,
      title: 'インタビュー'
    },
  ];

  var arr_footer_b = [
    {
      url: '/',
      title: 'このサイトについて'
    },
    {
      url: '/about',
      title: '運営会社'
    },

  ];
