-

    //- パンくずリスト
  var arr_bread = [
    {
      title: 'Home',
      url: '/',
    },
    {
      title: 'アメリカ西海岸レポート',
      url: '/report',
    },
    {
      title: '知らない街の「地元」の空気に触れたい!ファーマーズマーケットには情報がいっぱい',
      url: '/info/report',
    },
  ];

  var arr_banner =[
    {
      url: '/banner-1',
      image: '../images/banner-1.png'
    },
    {
      url: '/banner-2',
      image: '../images/banner-2.png'
    },
  ];

  //配列の中身をHTMLとして出力する = 呼び出すときに !{elm.awesome}のように記述する
  var arr_sns = [
    {
      url: '/twitter',
      awesome: '<i class="fab fa-twitter"></i>'
    },
    {
      url: '/facebook',
      awesome: '<i class="fab fa-facebook-f"></i>'
    },
    {
      url: '/instagram',
      awesome: '<i class="fab fa-instagram"></i>'
    },
  ];

  //- フッターナビゲーション
  var arr_footer_t = [
    {
      url: '/' ,
      title: 'Home'
    },
    {
      url: '/news' ,
      title: '最新の特集'
    },
    {
      url: '/local' ,
      title: '地域別に読む'
    },
    {
      url: '/serialization' ,
      title: '連載一覧'
    },
    {
      url: '/interview' ,
      title: 'インタビュー'
    },
  ];

  var arr_footer_b = [
    {
      url: '/',
      title: 'このサイトについて'
    },
    {
      url: '/about',
      title: '運営会社'
    },

  ];

  arr_latest = [
    {
      title: 'sample01',
      url: '/sample01',
      image: '../images/latest-photo1.jpg',
      tag: '歩く',
      tag02: '食べる',
      info: 'サンフランシスコ/US',
    },
    {
      title: 'sample02',
      url: '/sample02',
      image: '../images/latest-photo2.jpg',
      tag: '体験する',
      tag02: '',
      info: '鎌倉/Japan',
    },
    {
      title: 'sample03',
      url: '/sample03',
      image: '../images/latest-photo3.jpg',
      tag: '歩く',
      tag02: '食べる',
      info: 'ベネチア/Itary',
    },
    {
      title: 'sample04',
      url: '/sample04',
      image: '../images/latest-photo4.jpg',
      tag: '歩く',
      tag02: '食べる',
      info: 'ロンドン/UK',
    },
    {
      title: 'sample05',
      url: '/sample05',
      image: '../images/latest-photo5.jpg',
      tag: '歩く',
      tag02: '体験する',
      info: 'ロトルア/NewZealand',
    },
    {
      title: 'sample06',
      url: '/sample06',
      image: '../images/latest-photo6.jpg',
      tag: '歩く',
      tag02: '食べる',
      info: 'デュッセルドルフ/German',
    },
  ];

  arr_media = [
    {
      title: 'カフェ巡り3年間',
      desc: '程よい苦味が心地よいコーヒーと、卵の味が濃い...',
      image: '../images/popular-photo1.jpg',
      info: '東京/Japan',
    },
    {
      title: 'ドイツの大定番プレッツェル、作ってわかった独特の形の秘密',
      desc: '日本では見たことしかなかったプレッツェルでしたが、本場ドイツで食べてすっかりファンに。地元のベーカリーで...',
      image: '../images/popular-photo2.jpg',
      info: 'バイエルン/Germany',
    },
    {
      title: 'あの名作が生まれた絵本作家のアトリエを訪ねて',
      desc: '子どもの頃から大好きだった絵本「ぞうとくじら」の作者海川やまさん訪ねました。海の見える小高い丘の上にあるアトリエで生まれたたくさんの絵本に共通する視点とは...',
      image: '../images/popular-photo3.jpg',
      info: '尾道/Japan',
    },
  ];

  arr_news = [
    {
      date: '2020.3.25',
      desc: '4月15日にトークイベント「ドイツビールの魅力再発見」（ドイツビールとおつまみ付き）を開催します。',
      more: '全文を読む',
      awesome: '<i class="fas fa-arrow-circle-right"></i>'
    },
    {
      date: '2020.3.25',
      desc: 'Tansaku! のオープン10周年を記念して、プレゼントキャンペーンを実施します。',
      more: '全文を読む',
      awesome: '<i class="fas fa-arrow-circle-right"></i>'
    },
    {
      date: '2020.3.25',
      desc: 'Tansaku! のウェブサイトをリニューアルしました。新連載が2本スタートします。',
      more: '全文を読む',
      awesome: '<i class="fas fa-arrow-circle-right"></i>'
    },
  ];
