-

    //- パンくずリスト
  var arr_bread = [
    {
      title: 'Home',
      url: '/',
    },
    {
      title: 'アメリカ西海岸レポート',
      url: '/report',
    },
    {
      title: '知らない街の「地元」の空気に触れたい!ファーマーズマーケットには情報がいっぱい',
      url: '/info/report',
    },
  ];

  var arr_banner =[
    {
      url: '/banner-1',
      image: '../images/banner-1.png'
    },
    {
      url: '/banner-2',
      image: '../images/banner-2.png'
    },
  ];

  //配列の中身をHTMLとして出力する = 呼び出すときに !{elm.awesome}のように記述する
  var arr_sns = [
    {
      url: '/twitter',
      awesome: '<i class="fab fa-twitter"></i>'
    },
    {
      url: '/facebook',
      awesome: '<i class="fab fa-facebook-f"></i>'
    },
    {
      url: '/instagram',
      awesome: '<i class="fab fa-instagram"></i>'
    },
  ];

  //- フッターナビゲーション
  var arr_footer_t = [
    {
      url: '/' ,
      title: 'Home'
    },
    {
      url: '/news' ,
      title: '最新の特集'
    },
    {
      url: '/local' ,
      title: '地域別に読む'
    },
    {
      url: '/serialization' ,
      title: '連載一覧'
    },
    {
      url: '/interview' ,
      title: 'インタビュー'
    },
  ];

  var arr_footer_b = [
    {
      url: '/',
      title: 'このサイトについて'
    },
    {
      url: '/about',
      title: '運営会社'
    },

  ];

  arr_latest = [
    {
      title: 'sample01',
      url: '/sample01',
      image: '../images/latest-photo1.jpg',
      tag: '歩く',
      tag02: '食べる',
      info: 'サンフランシスコ/US',
    },
    {
      title: 'sample02',
      url: '/sample02',
      image: '../images/latest-photo2.jpg',
      tag: '体験する',
      tag02: '',
      info: '鎌倉/Japan',
    },
    {
      title: 'sample03',
      url: '/sample03',
      image: '../images/latest-photo3.jpg',
      tag: '歩く',
      tag02: '食べる',
      info: 'ベネチア/Itary',
    },
    {
      title: 'sample04',
      url: '/sample04',
      image: '../images/latest-photo4.jpg',
      tag: '歩く',
      tag02: '食べる',
      info: 'ロンドン/UK',
    },
    {
      title: 'sample05',
      url: '/sample05',
      image: '../images/latest-photo5.jpg',
      tag: '歩く',
      tag02: '体験する',
      info: 'ロトルア/NewZealand',
    },
    {
      title: 'sample06',
      url: '/sample06',
      image: '../images/latest-photo6.jpg',
      tag: '歩く',
      tag02: '食べる',
      info: 'デュッセルドルフ/German',
    },
  ];

  arr_media = [
    {
      title: 'カフェ巡り3年間',
      desc: '程よい苦味が心地よいコーヒーと、卵の味が濃い...',
      image: '../images/popular-photo1.jpg',
      info: '東京/Japan',
    },
  ]
