-

    //- パンくずリスト
    var arr_bread = [
      {
        title: 'Home',
        url: '/',
      },
      {
        title: 'アメリカ西海岸レポート',
        url: '/report',
      },
      {
        title: '知らない街の「地元」の空気に触れたい!ファーマーズマーケットには情報がいっぱい',
        url: '/info/report',
      },
    ];
