doctype html
//- 変数の宣言
block titles
  - var title = 'Not HTML and CSS';

html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
  block content
