nav.drawer_nav
  ul.drawer_nav__list
    li.drawer_nav__item: a(href="/") Home
    li.drawer_nav__item: a(href="/about.html") About
    li.drawer_nav__item: a(href="/sample.html") Sample
    li.drawer_nav__item: a(href="/contact") Contact
