doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Not HTML and CSS
  body
    header.p_header
      .p_header__inner
        h1.p_logo Logo
        button.drawer_btn メニュー
      include _nav.pug
    main: .p_main__container
      p これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。
