//- テンプレート拡張
extends _header.pug
block content
//- 変数でtitle書き換え
block titles
  - var title = 'Hello About!'
  header.p_header
    .p_header__inner
      h1.p_logo Logo
      button.drawer_btn メニュー
    include _nav.pug
  main: .p_main__container
    p これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。これはダミーテキストです。developにpushしたよ
