extends _header.pug
block content
    header.ly_header
      .ly_header_container
        h1 ロゴ
    .ly_breadcrumb
      .ly_breadcrumb_container
        div Home &gt; パンくずリスト
    main.ly_main
      .ly_main_container
        header.bl_post_header
          h1 知らない街の「地元」の空気に触れたい!ファーマーズマーケットには情報がいっぱい
        .bl_post_content
          h2 ファーマーズマーケットで見つけた「地元」の味

          p サンフランシスコは、レトロなケーブルカーや真っ赤なゴールデンゲートブリッジなど、青い空に似合う観光スポットがたくさんある。それらを思い切り楽しむのももちろんいいけれど、もっと普通の「地元」っぽい空気を感じてみたかったので、ファーマーズマーケットに行ってみた。
          p まず目に入るのはカラフルな野菜や果物。日本では見慣れない葉物や、日本のものと似ているけれどちょっと違う趣の根菜類などを見つけては、どんな風に食べるのかを聞いてみる。「このまま食べればいいんだよ」と味見をさせてくれたり、簡単なレシピを教えてくれたり、マーケットに立つ店主たちはとても気さくだ。買った果物をその場でカットしてもらって食べているお客さんもいる。どんどん目移りしてついたくさん買いたくなってしまうのだけれど、旅行で訪れているときは調理する場所も時間もない。でもどうしても何か欲しくて、オレンジを1個だけ買った。

        .bl_post_footer
          p ポストフッター
          ul
            li
              span <i class="fas fa-thumbs-up"></i>
              | Post Footer


    .ly_bottom: .ly_bottom_container
      p ページ下部コンテンツ
    footer.ly_footer: .ly_footer_container
      p フッターコンテンツ
