extends _header.pug
block content
    header.ly_header
      .ly_header_container
        h1 ロゴ
    .ly_breadcrumb
      .ly_breadcrumb_container
        div Home &gt; パンくずリスト
    main.ly_main
      .ly_main_container
        header.bl_post_header
          h1 知らない街の「地元」の空気に触れたい!ファーマーズマーケットには情報がいっぱい
        .bl_post_content
          h2 ファーマーズマーケットで見つけた「地元」の味

          p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ
        .bl_post_footer
          p ポストフッター
    .ly_bottom: .ly_bottom_container
      p ページ下部コンテンツ
    footer.ly_footer: .ly_footer_container
      p フッターコンテンツ
