extends _layout
block titles
  - var title = "2カラムレイアウト"
block content
block container
    main.ly_main#top
      .ly_main_container
        .ly_columns
          .ly_columns_post
            //- メインコンテンツ読み込み
            include _mainContainer.pug

          .ly_columns_side
            .bl_side_popular
              a(href='#')
                h2 Special
                img(src='../images/latest-photo3.jpg')
                p どこを切り取っても面白い。カラフルな家が立ち並ぶ水の都で色の観察散歩
            .bl_side_latest
              h2 Latest
              //- *連想配列の読み込み
              include _array.pug
              ul
                each elm in arr_sideArticle
                  li
                    div: img(src=elm.image)
                    p: a(href='elm.url')
                      | #{elm.title}

            .bl_book
              h2 BOOK
              .bl_book_inner
                .bl_book_image
                  img(src="../images/book-cafe.png")
                .bl_book_text
                  p
                    strong コーヒー好きのカフェめぐり
                  p  Tansaku!編集部
                    br
                    | ￥1,600(税別)
                .bl_book_cta
                  a(href="#")
                    button
                      | 購入
block bottom
    include _bottom
