@use 'base' as *;

h1 {
  // color: #2b2b2b;
  color: #fff;
  font-size: 24px;
}

html {
  font-size: 14px;
  @include mq(md) {
    font-size: 16px;
  }
}
.p_header__background {
  // padding-top: 66%;
  height: 66vh;
  background-image: url('../images/mainvisual.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.p_header__container {
  display: flex;
  justify-content: space-between;
}

.p_nav__list {
  display: flex;
  list-style-type: none;
  a {
    color: $color-primary;
  }
}

.logo {
  flex: 0 1 auto; //default
  margin: 0;
}

.wrapper {
  padding: 0 4%;
  @include mq(md) {
    padding: 0 20px;
    max-width: 1024px;
    margin: 0 auto;
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
