@use 'base' as *;

h1 {
  color: mediumseagreen;
}

html {
  font-size: 14px;
  @include mq(md) {
    font-size: 16px;
  }
}
.wrapper {
  padding: 0 4%;
  @include mq(md) {
    padding: 0 20px;
    max-width: 1024px;
    margin: 0 auto;
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
