@use 'base' as *;

/*
** sample.pug
*/
.p_header__background {
  // padding-top: 66%;
  height: 66vh;
  background-image: url('../images/mainvisual.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.p_header__container {
  display: flex;
  justify-content: space-between;
}

.p_nav__list--00 {
  display: flex;
  list-style-type: none;
  a {
    color: $color-primary;
  }
}

.logo {
  flex: 0 1 auto; //default
  margin: 0;
}

.wrapper {
  padding: 0 4%;
  @include mq(md) {
    padding: 0 20px;
    max-width: 1024px;
    margin: 0 auto;
  }
}

html {
  font-size: 14px;
  @include mq(md) {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*  webcreatorbox
* cf) https://bit.ly/3I2ttUm
*/

//ヘッダー
.p_header {
  background: $color-secondary;
  padding: 0.5rem;
  // text-align: right;
}
.p_header__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

//ロゴ
.p_logo {
  font-size: 1.875rem; //30px
  margin: 0;
  color: $color-primary;
}
//ドロワーボタン
.drawer_btn {
  border: 1px solid #999;
  background: transparent;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}
//ドロワーナビゲーション
.drawer_nav {
  background: $color-success;
  position: absolute;
  z-index: 1;
  top: 2.75rem; //44px
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  transition: 0.5s;
  &.open-menu {
    width: 100%;
  }
}

.drawer_nav__list {
  padding-left: 0;
}

.drawer_nav__item {
  margin: 2rem 0;
  list-style-type: none;
}
.drawer_nav__item a {
  color: $color-primary;
  text-decoration: none;
  white-space: nowrap;
}

/*
* ************************
 Non HTML & CSS Chapter2
* ************************
*/
//ヘッダー: 親要素に背景画像を設置
.ly_header {
  background-image: url('../images/haeder-topline.svg');
  background-repeat: repeat-x;
  border-bottom: 1px solid #d8d8d8;
}

//パンくずリスト
.ly_breadcrumb {
  display: none;
  @include mq(md) {
    display: block;
    background: #efefef;
  }
  &_container {
    @include mq(md) {
      @include mainContainer($padding: 12px 20px);
    }
  }
}

//メインコンテナ
.post .ly_main_container {
  padding: 80px 4% 0;
  background-image: url('../images/post-bg.svg');
  background-repeat: repeat-x;
  background-position: 0 10px;
  @include mq(md) {
    @include mainContainer();
    // max-width: 1024px;
    // margin: 0 auto;
    // padding: 80px 20px 0;
  }
  //ポストヘッダー
  .bl_post_header h1 {
    margin: 0 0 20px;
    font-size: 1.875rem;
    line-height: 1.5;
  }
  //ポストコンテンツ
  .bl_post_content {
    h2 {
      margin: 60px 0 30px;
      padding: 1rem 0;
      border-top: 1px solid $color-secondary;
      border-bottom: 1px solid $color-secondary;
      font-size: 1.25rem;
    }
    p {
      margin: 30px 0;
      line-height: 1.9;
      text-align: justify;
    }
    & > *:first-child {
      //ポストコンテンツ内、一番最初の要素のみmargin-topを0にする
      margin-top: 0;
    }
  }
}

//ページ下部
.post .ly_bottom_container {
  background: url('../images/bottom-bg.svg');
  padding: 60px 4% 0;
  @include mq(md) {
    @include mainContainer($padding: 60px 20px 0);
  }
}

//フッター
.post .ly_footer_container {
  color: $color-primary;
  background: $color-secondary;
  padding: 60px 4%;
  @include mq(md) {
    @include mainContainer($padding: 60px 20px);
  }
}
