@use '../base' as *;

/*  webcreatorbox
* cf) https://bit.ly/3I2ttUm
*/

//ヘッダー
.p_header {
  background: $color-secondary;
  padding: 0.5rem;
  // text-align: right;
}
.p_header_inner {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

//ロゴ
.p_logo {
  font-size: 1.875rem; //30px
  margin: 0;
  color: $color-primary;
}
//ドロワーボタン
.drawer_btn {
  border: 1px solid #999;
  background: transparent;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
  width: 112px;
}
//ドロワーナビゲーション
.drawer_nav {
  background: $color-success;
  position: absolute;
  z-index: 1;
  top: 2.75rem; //44px
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  transition: 0.5s;
  &.open-menu {
    width: 100%;
  }
}

.drawer_nav__list {
  padding-left: 0;
}

.drawer_nav__item {
  margin: 2rem 0;
  list-style-type: none;
}
.drawer_nav__item a {
  color: $color-primary;
  text-decoration: none;
  white-space: nowrap;
}

.p_main_container {
  p:first-child {
    padding-left: 24px;
    position: relative;
    &::before {
      display: block;
      content: '\f164';
      font-family: 'Font Awesome 5 Free';
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  li {
    font-family: 'Roboto';
    font-weight: 400;
  }
}
